
<p>Upload your images!</p>

<form action = "/posts/create" method = "post" enctype="multipart/form-data">
  Title : <input type = "text" name = "title"><br>
  Content : <input type = "text" name = "content"><br>
  <input type="file" name ="avatar">
  <input type = "submit">
</form>
